.mainwrap{
     margin-top: 80px;
}
.mainwrap h4{
     color: #8500C5;
     font-size: 18px;
}
.mainwrap .container{
     display:flex;
     justify-content: space-between;
     align-items: center;
}
.rightwrap .twiee, .rightwrap .kiteee{
     margin-right:20px;
}
.rightwrap{
     display: flex;;
}