.hero .container {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     margin: 4rem auto;
     justify-content: center;
     align-items: center;
     padding: 1rem;
}

.hero .left {
     padding: 1rem;
     grid-row: 0;

}

.hero .item:nth-child(1) {
     padding: 1rem 0;
     width: 84%;
     order: 1;
}

.hero .item:nth-child(2) {
     order: 2;
     /* padding: 1rem; */
}

.hero h1 {
     padding: 1rem 0;
}

.hero .input-container {
     padding: 1rem 0;
}

.hero .input-container .btn {
     font-family: 'POPPINS';
}


.hero .right {
     padding: 1rem;
     display: flex;
}

.hero .img-container {
     width: 100%;
     text-align: right;

}

.hero img {
     max-width: 80%;
     margin: auto;
}

@media screen and (max-width: 940px) {
     .hero .img-container {
          width: 100%;
          text-align: center;
     }
     
     .hero .container {
          grid-template-columns: 1fr;
     }

     .hero .item:nth-child(1) {
          order: 2;
          text-align: center;
          width: 100%;
     }

     .hero .item:nth-child(2) {
          order: 1
     }

     .hero .container p {
          display: none;
     }

     .hero .input-container {
          display: block !important;
          max-width: 425px;
          margin: auto;
     }

     .hero .input-container .btn {
          border: 0px!important;
          width: 100%;
          margin: auto !important;
          text-align: center;
          margin-top: 2% !important;
          border-radius: 6px;
     }

     .hero .btn img {
          margin-right: 10px !important;
          margin: 0;
          width: 16px;
     }

     .hero .container h1 {
          font-size: 26px !important;
          width: 80%;
          margin: auto;
     }

     .btn-connect-wallet {
          background-color: #8500C5 !important;
          border: 0px !important;
     }

     .btn-getstart {
          background-color: #14054F !important;
     }

     .noticed {
          display: block;
     }
}

.hero p {
     color: #8500C5;
     font-size: 24px;
     font-weight: 700;
}

.hero .input-container {
     display: flex;
}

.connectwalltbtn {
     margin-right: 4px !important;
}

@media screen and (max-width:1210px) {
     .hero .container h1 {
          font-size: 37px;
     }

     .hero p {
          font-size: 20px;
     }
}
@media screen and (max-width:1050px)  and (min-width:942px) {
     .hero .input-container .btn{
          margin: 0 10px;
          padding: 16px;
     }
}



.btn-connect-wallet {
     background-color: #14054F;
     border: 1px solid #8500C5;
}

.btn-getstart {
     background-color: #8500C5;
}