.noticed .content-box {
     display: flex;
     justify-content: flex-start;
     align-items: center;
}

.noticed .content-box h3 {
     color: #8500C5;
     font-size: 24px;
}
.noticed  p {
     color: #ffffff;
     font-size:18px;
     margin-top:20px;
}
.noticed .container{
     max-width: 1440px;
     padding: 0 1rem;
}
@media screen and (min-width:924px){
     .noticed .container{
          max-width: 1440px;
          padding: 0 1rem;
     }
}
@media screen and (max-width:924px)
{
     .noticed p{
          font-size: 14px;
     }
     .noticed .content-box h3{
          font-size: 18px;
     }
}