body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    display: block;
}

.modal, .overlay {
    max-width: 100%;
    margin: auto;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.modal-content {
    position: absolute;
    top: 80px;
    right: 6%;
    line-height: 1.4;
    width: 380px;
    padding: 35px 28px;
    border-radius: 3px;
    height: 340px;
}

.close-modal {
    position: absolute;
    right: 10px;
    padding: 5px 7px;
    width: 75px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 0;
    color: #8500C5;
    font-weight: 800;
    font-size: 10px;
    border-radius: 6px;
    bottom: 24px;
}

.modal-content {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.prntwrap {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    text-align: center;
    align-items: center;
    color: white;
    margin-top: 6%;
}

.prntwrap p {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 21.78px;
}

.prntwrap h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24.2px;
}

.selectwallet {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 14%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectwallet button {
    width: 245px;
    height: 46px;
    background: #14054F;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 12px;
}

.selectwallet .pee {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    margin-bottom: 12px;
}