@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #8500C5;
  --secondary:#14054F;
  --background: rgb(0, 0, 0);
}

.primary {
  color: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 1440px;
  margin: auto;
  width: 94%;
}


body {
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(116.39deg, #14054F 10.65%, #45108A 62.91%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1 {
  font-size: 48px;
  line-height: 1.2;
  color: #fff;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.2;
  
  
}

h5 {
  font-size: 1.1rem;
  line-height: 1.2;
}

p {
  font-size: 1.2rem;
}

.btn {
  padding: 14px 26px;
  border: none;
  background-color: var(--primary);
  color: #fff;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-1 {
  padding: 14px 32px;
  border: none;
  background-color: var(--secondary);
  color: #fff;
  border-radius: 20px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  margin: 1rem 1rem;

}

.btn:hover {
  box-shadow: rgb(0 0 0 / 15%) 0px 8px 24px;
}

input {
  padding: 12px 32px;
  border: 1px solid var(--primary);
  background: transparent;
  border-radius: 24px 4px;
  font-size: 1rem;
  margin-right: .8rem;
  font-family: 'Poppins', sans-serif;
}


@media screen and (max-width:768px) {
  h1 {
    font-size: 2.1rem;
    line-height: 1.2;
  }
  
  h2 {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  
  h5 {
    font-size: 1.1rem;
    line-height: 1.2;
  }
  
  p {
    font-size: 1rem;
  }

  .btn {
    width: 100%;
    margin: 1rem 1rem;
  }

  input {
    width: 100%;
  }
}

/* popup */
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

@media screen and (min-width:942px) {
  .header .container {
      max-width: 1440px   ;
  }
}
@media screen and (max-width:942px) {
  .header .container .nav-menu {
      display: block ;
      left: 0;
      right: 0;
      margin-left: 0;
  }
}

